@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'Glitch';
	src: url('../public/Fonts/Glitch.otf') format('truetype');
}
  
  @font-face {
	font-family: 'Heading';
	src: url('../public/Fonts/Heading.ttf') format('truetype');
  }
  
  @font-face {
	font-family: 'Bomb';
	src: url('../public/Fonts/Bomb.ttf') format('truetype');
  }

  @font-face {
	font-family: 'Headinglight';
	src: url('../public/Fonts/HeadingLight.ttf') format('truetype');
  }

  @layer utilities {
	.font-Bomb {
	  font-family: 'Bomb', sans-serif;
	}
	.font-Glitch {
		font-family: 'Glitch', sans-serif;
	}
	.font-Heading {
		font-family: 'Heading', sans-serif;
	}
	.font-Headinglight {
		font-family: 'Headinglight', sans-serif;
	}
  }

  @layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
  
.glass {
	/* background: rgba(255, 255, 255, 0.22);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
	border: 1px solid rgba(255, 255, 255, 0.2); */
	
	border-radius: 16px;
	/* background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.06) 99.99%, rgba(255, 255, 255, 0.00) 100%); */
	background: linear-gradient(180deg, rgba(247, 37, 194, 0.1) 0%, rgba(247, 37, 194, 0.06) 99.99%, rgba(247, 37, 194, 0) 100%);

	backdrop-filter: blur(30.5px);
}

.opponent_name {
	@apply ml-3 mt-3 font-Heading tracking-wider
}

.card_shape {
	@apply rounded-xl relative cursor-pointer items-center justify-center overflow-hidden transition-shadow hover:shadow-xl hover:shadow-black/30 mx-9;
}

.card_image {
	@apply h-full w-full object-cover transition-transform duration-500 group-hover:rotate-3 group-hover:scale-125;
}

.card_handle_hover {
	@apply absolute  group-hover:bg-[#7f4b97]/[0.7] bg-[#7f4b97]/[0.6] rounded-[30px] group-hover:rounded-[30px] group-hover:pb-12 inset-0 flex translate-y-[80%] flex-col items-center justify-center px-5 sm:px-9 text-center transition-all duration-500 group-hover:translate-y-20;
}

.card_text_h {
	@apply text-2xl sm:text-3xl font-Bomb group-hover:pb-0 pb-[120px] sm:pb-[150px] transition-all duration-500 text-white;
}

.card_text_p {
	@apply mb-3 text-lg tracking-[1.5px] text-white font-Heading opacity-0 transition-opacity duration-300 group-hover:opacity-100 ;
}

.card_button {

	/* border-radius: 20px;
	border: 2px solid #FFF;
	background: #FF1382;
	box-shadow: 0px 4px 18px 0px rgba(255, 255, 255, 0.50), 0px -4px 18px 0px rgba(255, 255, 255, 0.50); */
	@apply w-[220px] rounded-[20px] bg-primary-pink-300 capitalize shadow hover:duration-300 shadow-black/60
}

:hover.card_button {
	border-radius: 20px;
	border: 1px solid #FFF;
	background: #FF1382;
	box-shadow: 0px 4px 18px 0px rgba(255, 255, 255, 0.50), 0px -4px 12px 0px rgba(255, 255, 255, 0.50);
	/* animation-duration: 1000ms; */
}

.card_button_text {
	@apply font-Bomb text-primary-white-100 py-2 px-3.5 text-lg
}

.chat_text_username {
	@apply text-white text-center text-2xl font-Bomb  leading-normal tracking-wide
}

.chat_text_p {
	@apply text-gray-300 text-center text-base font-Glitch font-medium leading-normal tracking-wide
  
}



.table {
		border-spacing: 0 10px;
	}

	i {
		font-size: 1rem !important;
	}

	.table tr {
		border-radius: 20px;
	}

	tr td:nth-child(n+6),
	tr th:nth-child(n+6) {
		border-radius: 0 .625rem .625rem 0;
	}

	tr td:nth-child(1),
	tr th:nth-child(1) {
		border-radius: .625rem 0 0 .625rem;
	}

	.divider {
		font-size: 15px;
		display: flex;
		align-items: center;
		color: #a9a9a9;
		--text-divider-gap: 1px;
	  }
	  
	  .divider::before {
		flex-grow: 1;
		/* content: ''; */
		/* padding: 1px; */
		/* width: 1%; */
		height: 1px;
		background-color: #a9a9a9;
		margin-left: 100px;
	  }
	  .divider::after {
		flex-grow: 1;
		/* content: ''; */
		/* padding: 1px; */
		/* width: 1%; */
		height: 1px;
		background-color: #a9a9a9;
		margin-right: 90px;
	  }

	  /* ----------------------- */

	  details > summary {
		list-style: none;
	  }

	  .gif {
		background-image: url(https://tenor.com/view/pingpong-pingpong-ani-anime-rally-sports-gif-17683396);
	  }
	  

